


env {
        script_dir = "${baseDir}/scripts"
    }


params {
 
    template_bank {
        tobs = 1800
        freq = 500
        mismatch_orbital = 0.1
        mismatch_spin_freq = 0.1
        montecarlo_integration_iterations = 10000
        f_search_range = 1.3
        coarse_threshold_template = 0.2
        coarse_step_freq = 1.0
        fine_step_freq =  0.333
        log_interval = 60

        nsplits = 100
        //random_template_bank = "/b/u/vishnu/SOFTWARE/5D_Peasoup/emcee_plot_codes/generated_template_banks/compact_ngc1851_30m_circular_orbit_template_bank_gpu_format.txt"
        random_template_bank = "${baseDir}/sample_template_bank.txt"

    }


    scripts{
        create_random_template_bank = "${env.script_dir}/construct_random_template_bank_emcee.py"
        split_bank = "${env.script_dir}/split_bank.py"
        self_check = "${env.script_dir}/self_check.py"
        pair_check = "${env.script_dir}/pair_check.py"
    }

}

profiles {
   local {
    includeConfig 'local.config'   
 }
  contra {
    includeConfig 'contra.config'
  }

}