params
{
    nfiles=40
    tobs=120 //min
    porb_min=240 //min
    porb_max=1200 //min
    max_companion_mass=4.0
    min_pulsar_mass=1.2
    spin_period=5.0 //ms
    inclination_angle_fraction=1.0
    coverage=0.9
    mismatch=0.15
    templates=236590000
    burnin=132
    thin=31
    nwalkers=1500
    output_prefix="compact_120min_thin"
}

executor {
        name = 'condor'               
        queueSize = 1500               // Maximum number of jobs submitted at once
    }

process {
    cache = 'lenient'

    withLabel: 'emcee' {
        cpus=128
        memory = { 12.GB * task.attempt }
        time = { 1.days * task.attempt }
        maxForks = 10
        errorStrategy = { task.exitStatus in (137..140) || task.exitStatus == 124 ? 'retry' : 'ignore' }
        maxRetries = 3
        scratch=false
    }
}